Z:\projetos\trade_analysis\project_root\market_data_cache.json
Z:\projetos\trade_analysis\project_root\ClaudeAI.txt
Z:\projetos\trade_analysis\Lib/site-packages
Z:\projetos\trade_analysis\Scripts
Z:\projetos\trade_analysis\pyvenv.cfg
Z:\projetos\trade_analysis\__pycache__
Z:\projetos\trade_analysis\*.pyc
Z:\projetos\trade_analysis\*.pyo
Z:\projetos\trade_analysis\*.pyd
Z:\projetos\trade_analysis\project_root\src\__pycache__
Z:\projetos\trade_analysis\project_root\src\controllers\__pycache__
Z:\projetos\trade_analysis\project_root\src\models\__pycache__
Z:\projetos\trade_analysis\project_root\src\services\__pycache__
Z:\projetos\trade_analysis\project_root\src\utils\__pycache__
Z:\projetos\trade_analysis\project_root\src\views\__pycache__
Z:\projetos\trade_analysis\project_root\src\views\components\__pycache__
Z:\projetos\trade_analysis\project_root\src\views\pages\__pycache__
Z:\projetos\trade_analysis\project_root\src\views\templates\__pycache__
Z:\projetos\trade_analysis\project_root\src\services\__pycache__
Z:\projetos\trade_analysis\project_root\src\models\analysis\__pycache__
Z:\projetos\trade_analysis\project_root\src\models\data\__pycache__
Z:\projetos\trade_analysis\project_root\src\models\trading\__pycache__
Z:\projetos\trade_analysis\project_root\cache
 